#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}


body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0px;
  padding: 0;
}
h1 {
    font-size: 3rem;
    color: #4d5d43;
}
.gallery  {
  text-align: center;
}


.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
